extends layout

block content
  .container.container-narrow
    each ride in rides
      a.ride-listing-anchor(href="/ride/#{ride.id}")
        .ride-listing.thumbnail
          .row
            .col-xs-12
              .ride-listing-header
                h2 #{ride.get("rideTitle")}
                p.ride-labels
                  #[span.label.label-danger #{ride.get("difficulty")}]
                  #[span.label.label-default #{ride.get("distance")} km] 
                  #[span.label.label-warning #{ride.get("tags")}]
              .ride-listing-content
                hr
                .location
                  p #[strong To:] #{ride.get("to")}
                  p #[strong From:] #{ride.get("from")}
                hr
                p #[strong Who else is riding?]
                p
                  img.img-responsive.img-circle(src="https://pbs.twimg.com/profile_images/606056698420158464/7U4FvinA.png", style="max-width:50px;margin-right:5px;display:inline-block;")
                  img.img-responsive.img-circle(src="https://pbs.twimg.com/profile_images/606056698420158464/7U4FvinA.png", style="max-width:50px;margin-right:5px;display:inline-block;")
                  img.img-responsive.img-circle(src="https://pbs.twimg.com/profile_images/606056698420158464/7U4FvinA.png", style="max-width:50px;margin-right:5px;display:inline-block;")
                  img.img-responsive.img-circle(src="https://pbs.twimg.com/profile_images/606056698420158464/7U4FvinA.png", style="max-width:50px;margin-right:5px;display:inline-block;")
                  img.img-responsive.img-circle(src="https://pbs.twimg.com/profile_images/606056698420158464/7U4FvinA.png", style="max-width:50px;margin-right:5px;display:inline-block;")